<div class="container" >
    <div >
    <div class="col-md-6 offset-md-3 mt-3" >
        <h4> <b class=" p-2 col-sm-5 offset-sm-3 {{c}}">{{message}}</b></h4>
   <form [formGroup]="changePasswordFormgroup"  (ngSubmit)="changePasswordUser()" class="shadow p-5">
   
  
  <div class="form-group" >
    <label for=""  class="control-label">Current password</label>
    <input type="password" class="form-control"  formControlName="current_password"
    [ngClass]="{ 'is-invalid':!changePasswordFormgroup.controls['current_password'].valid &&
      changePasswordFormgroup.controls['current_password'].touched 
             }"
     
     [ngClass]="{ 'is-valid': changePasswordFormgroup.controls['current_password'].valid
     && changePasswordFormgroup.controls['current_password'].touched }"
     >
     <small *ngIf="changePasswordFormgroup.controls['current_password'].errors 
      && changePasswordFormgroup.controls['current_password'].touched" class="text-danger">
  {{this.authService.getErroMessage('current password',changePasswordFormgroup.controls['current_password'].errors)}}
  </small>
   
   
</div>

<div class="form-group" formGroupName="passwordGroup">
    <label for=""  class="control-label"> New Password</label>
    <input type="password" class="form-control"  formControlName="password"
    [ngClass]="{ 'is-invalid':!changePasswordFormgroup.get('passwordGroup.password')?.valid &&
      changePasswordFormgroup.get('passwordGroup.password')?.touched 
             }"
     
     [ngClass]="{ 'is-valid': changePasswordFormgroup.get('passwordGroup.password')?.valid
     && changePasswordFormgroup.get('passwordGroup.password')?.touched }"
     >
     <small *ngIf="changePasswordFormgroup.get('passwordGroup.password')?.hasError('required')
     && changePasswordFormgroup.get('passwordGroup.password')?.touched" class="text-danger">
   required
   </small> 
   <small *ngIf="changePasswordFormgroup.get('passwordGroup.password')?.hasError('minlength')
   && changePasswordFormgroup.get('passwordGroup.password')?.touched" class="text-danger">
  min
  
 </small> 
   
</div>

<div class="form-group" formGroupName="passwordGroup">
  <label for=""  class="control-label">Confirm  new Password</label>
  <input type="password" class="form-control"  formControlName="passwordconfirm"
  [ngClass]="{ 'is-invalid':!changePasswordFormgroup.get('passwordGroup')?.valid &&
 ( (changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.touched ||
 changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.dirty 
  
  ) && !changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.valid )
    
           }"
   
           [ngClass]="{ 'is-valid':changePasswordFormgroup.get('passwordGroup')?.valid &&
           changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.touched &&
           changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.valid
            }"
   >
   <small *ngIf="changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.hasError('required')
   && changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.touched" class="text-danger">
 required
 </small> 
 <small *ngIf="changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.hasError('minlength')
 && changePasswordFormgroup.get('passwordGroup.passwordconfirm')?.touched" class="text-danger">
min
</small> 
<small *ngIf="changePasswordFormgroup.get('passwordGroup')?.hasError('match')
" class="text-danger">
match password incorrect
{{this.authService.getErroMessage('email',changePasswordFormgroup)}}
</small> 
</div>
         <br>
  <input type="submit" [disabled]="changePasswordFormgroup.invalid" value="Submit" class="btn btn-primary col-sm-6 offset-sm-3 " ><br>
 
  <small *ngIf="errorMessage" class="text-danger
                col-sm-6 offset-sm-3 ">
                   <b> {{errorMessage}} </b> </small>
  
</form>
</div>
</div>
</div>