<div class="row">
    <div class="col-lg-12" *ngIf="mode==0">
        <div class="box-element">

<h3> <b class=" p-3 col-sm-6 offset-sm-3 {{c}}">{{message}}</b></h3>
<small class=" offset-sm-3 p-2 col-sm-6 text-primary " *ngIf="cc==true"><a routerLink="/login"  class=" clickable">Login Now </a> </small>
</div>
</div>
<!-- sssssssssssssssssssssss       Mode 1                 ssssssssssssssssssssssssssssssssss-->


<div class="container" *ngIf="mode==1">
    <div class="box-element">
    <div class="col-md-6 offset-md-3 mt-3" >
       <b class="text-danger"> {{errorMessage}}</b>
      <form [formGroup]="emailFormGroup" (ngSubmit)="sentOtpByEmail()">
  
                 <div class="mb-3">
                <label class="form-label"></label>
                <input type="email" class="form-control" formControlName="email"
                placeholder="enter your email"
                [ngClass]="{ 'is-invalid': emailFormGroup.controls['email'].errors
                 && (emailFormGroup.controls['email'].dirty ||emailFormGroup.controls['email'].touched)}"
                 [ngClass]="{ 'is-valid': emailFormGroup.controls['email'].valid
                 && (emailFormGroup.controls['email'].dirty ||emailFormGroup.controls['email'].touched
                  ||emailFormGroup.controls['email'].pristine
                 )}"
                
                 >
                <small *ngIf="emailFormGroup.controls['email'].errors 
                &&( emailFormGroup.controls['email'].touched ||emailFormGroup.controls['otp'].dirty)" class="text-danger">
            {{this.authService.getErroMessage('email',emailFormGroup.controls['email'].errors)}}

          
            </small>
           
            </div>
            <h3> <b class=" p-3 col-sm-6 offset-sm-3 {{c}}">{{message}}</b></h3>
                <br>
                <button [disabled]="emailFormGroup.invalid" class="btn btn-primary col-sm-6 offset-sm-3" type="submit">sent</button>
               
  </form>
          
     </div>
   </div>
   </div>

<!-------        Mode 2                                                              -->
   <div class="container" *ngIf="mode==2">
    <div class="box-element">
    <div class="col-md-6 offset-md-3 mt-3" >
        <h3> <b class=" p-2 col-sm-6 offset-sm-3 {{c}}">{{message}}</b>
        </h3>
       
      <form [formGroup]="emailFormGroup" (ngSubmit)="verifyCode()">
  
                 <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" class="form-control"  formControlName="email" 
                [ngClass]="{ 'is-invalid': emailFormGroup.controls['email'].errors
                 && (emailFormGroup.controls['email'].dirty ||emailFormGroup.controls['email'].touched)}"
                 [ngClass]="{ 'is-valid': emailFormGroup.controls['email'].valid
                 && (emailFormGroup.controls['email'].dirty ||emailFormGroup.controls['email'].touched)}"
                
                 >
                <small *ngIf="emailFormGroup.controls['email'].errors 
                && emailFormGroup.controls['email'].touched" class="text-danger">
            {{this.authService.getErroMessage('email',emailFormGroup.controls['email'].errors)}}

          
            </small>
           
            </div>
            <div class="mb-3">
                
                <label class="form-label">Enter Otp</label>
                <input type="text" class="form-control" formControlName="otp" maxlength="6"
            
                [ngClass]="{ 'is-invalid': emailFormGroup.controls['otp'].errors
                 && (emailFormGroup.controls['otp'].dirty ||emailFormGroup.controls['otp'].touched)}"
                 [ngClass]="{ 'is-valid': emailFormGroup.controls['otp'].valid
                 && (emailFormGroup.controls['otp'].dirty ||emailFormGroup.controls['otp'].touched
                 ||emailFormGroup.controls['otp'].pristine
                 )}"
                
                 >
                <small *ngIf="emailFormGroup.controls['otp'].errors 
                && (emailFormGroup.controls['otp'].touched||emailFormGroup.controls['otp'].dirty)" class="text-danger">
            {{this.authService.getErroMessage('Otp',emailFormGroup.controls['otp'].errors)}}

          
            </small>
            </div>
           
            
                <br>
                <button [disabled]="emailFormGroup.invalid" class="btn btn-primary col-sm-6 offset-sm-3" type="submit">sent</button>
               
  </form>
          
     </div>
   </div>
   </div>

   <!--------------- Mode 3                 ----------------->

   <div class="container" *ngIf="mode==3">
    <div class="box-element">
    <div class="col-md-6 offset-md-3 mt-3" >
        <h4> <b class=" p-2 col-sm-5 offset-sm-3 {{c}}">{{message}}</b></h4>
   <form [formGroup]="resetPasswordGroup"  (ngSubmit)="resetPasswordUser()" class="shadow p-5">
   
    <div class="form-group">
      <label for="" class="control-label">Email</label>
      <input type="email" class="form-control" formControlName="email"
      [ngClass]="{ 'is-invalid': resetPasswordGroup.controls['email'].errors
       && (resetPasswordGroup.controls['email'].dirty ||resetPasswordGroup.controls['email'].touched)}"
       [ngClass]="{ 'is-valid': resetPasswordGroup.controls['email'].valid
       && (resetPasswordGroup.controls['email'].dirty ||resetPasswordGroup.controls['email'].touched)}"
      
       >
      <small *ngIf="resetPasswordGroup.controls['email'].errors 
      && resetPasswordGroup.controls['email'].touched" class="text-danger">
  {{this.authService.getErroMessage('email',resetPasswordGroup.controls['email'].errors)}}
  </small>

  </div>
  
  <div class="form-group" formGroupName="passwordGroup">
    <label for=""  class="control-label">Password</label>
    <input type="password" class="form-control"  formControlName="password"
    [ngClass]="{ 'is-invalid':!resetPasswordGroup.get('passwordGroup.password')?.valid &&
      resetPasswordGroup.get('passwordGroup.password')?.touched 
             }"
     
     [ngClass]="{ 'is-valid': resetPasswordGroup.get('passwordGroup.password')?.valid
     && resetPasswordGroup.get('passwordGroup.password')?.touched }"
     >
     <small *ngIf="resetPasswordGroup.get('passwordGroup.password')?.hasError('required')
     && resetPasswordGroup.get('passwordGroup.password')?.touched" class="text-danger">
   required
   </small> 
   <small *ngIf="resetPasswordGroup.get('passwordGroup.password')?.hasError('minlength')
   && resetPasswordGroup.get('passwordGroup.password')?.touched" class="text-danger">
  min
  
 </small> 
   
</div>

<div class="form-group" formGroupName="passwordGroup">
  <label for=""  class="control-label">Confirm Password</label>
  <input type="password" class="form-control"  formControlName="passwordconfirm"
  [ngClass]="{ 'is-invalid':!resetPasswordGroup.get('passwordGroup')?.valid &&
 ( (resetPasswordGroup.get('passwordGroup.passwordconfirm')?.touched ||
 resetPasswordGroup.get('passwordGroup.passwordconfirm')?.dirty 
  
  ) && !resetPasswordGroup.get('passwordGroup.passwordconfirm')?.valid )
    
           }"
   
           [ngClass]="{ 'is-valid':resetPasswordGroup.get('passwordGroup')?.valid &&
           resetPasswordGroup.get('passwordGroup.passwordconfirm')?.touched &&
           resetPasswordGroup.get('passwordGroup.passwordconfirm')?.valid
            }"
   >
   <small *ngIf="resetPasswordGroup.get('passwordGroup.passwordconfirm')?.hasError('required')
   && resetPasswordGroup.get('passwordGroup.passwordconfirm')?.touched" class="text-danger">
 required
 </small> 
 <small *ngIf="resetPasswordGroup.get('passwordGroup.passwordconfirm')?.hasError('minlength')
 && resetPasswordGroup.get('passwordGroup.passwordconfirm')?.touched" class="text-danger">
min
</small> 
<small *ngIf="resetPasswordGroup.get('passwordGroup')?.hasError('match')
" class="text-danger">
match password incorrect
{{this.authService.getErroMessage('email',resetPasswordGroup)}}
</small> 
</div>

         <br>
  <input type="submit" [disabled]="resetPasswordGroup.invalid" value="Submit" class="btn btn-primary col-sm-6 offset-sm-3 " ><br>
 
  <small *ngIf="errorMessage" class="text-danger
                col-sm-6 offset-sm-3 ">
                   <b> {{errorMessage}} </b> </small>
  
</form>
</div>
</div>
</div>
<div class="container" *ngIf="mode==4">
  <div class="box-element">
  <div class="col-md-6 offset-md-3 mt-3" >
    <h4> <b class=" p-2 col-sm-5 offset-sm-3 {{c}}">{{message}}</b></h4>
   <small > <a routerLink="/login"  class="text-danger clickable">Login Now </a> </small>
    </div>
    </div>
    </div>
</div>

