<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title></title>
</head>
<body>
<nav class="navbar navbar-expand-lg fixed-top   navbar-dark bg-dark">
  <div class="container-fluid  ">
    <a class="navbar-brand" href="#" (click)="onSelectedProducts()">Manley-web</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" (click)="onSelectedProducts()" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item dropdown" >
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Product
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"(click)="onProductsPromo()" >Promotion</a></li>
            <li><a class="dropdown-item" (click)="onProductsDispo()" >Disponible</a></li>
          </ul>
        </li>
        <li class="nav-item dropdown" *ngIf="auth.isAuthentificated">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Order
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item"(click)="orders()" >my orders</a></li>
            
          </ul>
        </li>
      </ul>
      <form class="d-flex" #f="ngForm" (ngSubmit)="onsearch(f.value)">
        <input class="form-control me-2" required="" name="search" ngModel  type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" [disabled]="!f.valid" type="submit">Search</button>
      </form> 
      <ul class="navbar-nav me-auto mb-2 mb-lg-3 float-end">
        <li class="nav-item " style="color: rosybrown; font-size: 30px; " >
        
          <i class="bi bi-cart-check clickable" (click)="caddy()">
            {{caddyService.getTotalQuantity()}}
          </i>

        </li>
        <li class="nav-item dropdown "
        style="color: rosybrown; font-size: 30px; "
        *ngIf="this.auth.isAuthentificated else loginTemplate">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">{{auth.username}}</a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" routerLink="/changePassword">Change Password</a></li>
            <li><a class="dropdown-item" (click)="Logout()" href="#">Logout</a></li>
          
          </ul>
        </li>
        <ng-template #loginTemplate>
          <a class="btn nav-link"  (click)="login()">Login </a>
        </ng-template>
     
      </ul>
      
    </div>
   
    
  </div>
</nav>

 <div class="container-fluid m-7" style="margin-top: 100px; margin-bottom: 100px;">
  <div class="row">
  <div class="col-md-2 m-2 p-2   " >
  
   <ul class="list-group " *ngIf="categories">
    <li  [ngClass]="currentCategory==c?'active':''" (click)="getProductsByCat(c)" class="list-group-item clickable" *ngFor="let c of categories._embedded.categories">
     {{c.name}}
    </li>
     
   </ul>
    
  </div>
  <div class="col-md-9  " >
    
        <router-outlet></router-outlet>
      

  </div>
 </div>
</div>
<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Fixed bottom</a>
  </div>
</nav>



</body>
</html>